<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(253, 29, 5);color: white;">
        <h1>ERROR DE REGISTRO</h1>

        <button class="btn btn-warning my-5" onclick="location.href='/'">VOLVER</button>
    </div>
</div>