    
<div>
    <h1>Bienvenido {{user.username}}</h1>
    <nav>
        <button class="btn  btn-primary mb-2" onclick="window.location.href='/productos'"> Productos </button>
        <button class="btn  btn-primary mb-2" onclick="window.location.href='/user/info'"> Info de usuario </button>
        <button class="btn  btn-primary mb-2" onclick="window.location.href='/carrito'"> Mi carrito </button>
        <button class="btn  btn-primary mb-2" onclick="window.location.href='/user/logout'"> Deslogear </button>
    </nav>
</div>